<div class="row">
  <div class="col-md-6 p-md-5">
    <section [formGroup]="form">
      <h4>Use a local account to log in.</h4>
      <hr/>
      <div class="text-danger"></div>
      <div class="form-group">
        <label for="username"></label>
        <input id="username" class="form-control" placeholder="User Name"
               formControlName="username"/>
      </div>
      <div class="form-group">
        <label for="password"></label>
        <input id="password" type="password" class="form-control" placeholder="Password"
               formControlName="password"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="loginClicked()"
                [disabled]="isBusy()">
          <span *ngIf="isBusy()" class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
          {{ buttonText }}
        </button>
      </div>
      <div class="form-group">
        <p>
          <a routerLink="/authentication/register">Register as a new user</a>
        </p>
      </div>
    </section>
  </div>
</div>
